*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 100%);
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

a {
  text-decoration: none;
}

.container {
  max-width: calc(1100px + 4rem);
  padding: 0 2rem;
  margin-inline: auto;
}

.toggle-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
@media screen and (max-width: 768px) {
  .toggle-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px solid hsl(230deg, 22%, 74%);
    padding-top: 2rem;
  }
}
.toggle-control .toggle > input[type=checkbox] {
  display: none;
}
.toggle-control .toggle > input[type=checkbox]:checked + label {
  background: hsl(230deg, 22%, 74%);
}
.toggle-control .toggle > input[type=checkbox]:checked + label::before {
  left: calc(100% - 4px - 18px);
  background-color: white;
}
.toggle-control .toggle > input[type=checkbox] + label {
  display: block;
  width: 48px;
  height: 24px;
  background: -webkit-gradient(linear, left top, right top, from(hsl(210deg, 78%, 56%)), to(hsl(146deg, 68%, 55%)));
  background: linear-gradient(to right, hsl(210deg, 78%, 56%), hsl(146deg, 68%, 55%));
  cursor: pointer;
  border-radius: 24px;
  position: relative;
}
.toggle-control .toggle > input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(52, 57, 86);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.blue-text {
  color: hsl(228deg, 34%, 66%);
}

.white-text {
  color: hsl(0deg, 0%, 100%);
}

header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background-color: hsl(225deg, 100%, 98%);
  z-index: -1;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-block: 2.5rem;
}
@media screen and (max-width: 768px) {
  header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
header .container > div:nth-child(1) {
  margin-bottom: 2rem;
}
header .container .sub-title {
  font-size: 1rem;
}

.main-dashboard {
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .main-dashboard {
    margin-bottom: 1.5rem;
  }
}
.main-dashboard .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5rem 1fr 2.5rem 1fr 2.5rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
@media screen and (max-width: 992px) {
  .main-dashboard .container {
    -ms-grid-columns: 1fr 4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    row-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .main-dashboard .container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 2rem;
  }
}

.card {
  background-color: hsl(227deg, 47%, 96%);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 45px;
  overflow: hidden;
  position: relative;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .card {
    padding-block: 2rem;
  }
}
.card:hover {
  background-color: #dde2f3;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.card .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.card .profile a {
  font-weight: bold;
}
.card .followers {
  margin-bottom: 20px;
}
.card .followers-count {
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}
.card .followers-caption {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
}
.card .stats {
  font-weight: 600;
}
.card .stats .icon {
  margin-right: 5px;
}
.card .stats.up {
  color: hsl(163deg, 72%, 41%);
}
.card .stats.down {
  color: hsl(356deg, 69%, 56%);
}
.card.facebook::before {
  background-color: hsl(208deg, 92%, 53%);
}
.card.twitter::before {
  background-color: hsl(203deg, 89%, 53%);
}
.card.instagram::before {
  background-image: -webkit-gradient(linear, left top, right top, from(hsl(37deg, 97%, 70%)), to(hsl(329deg, 70%, 58%)));
  background-image: linear-gradient(to right, hsl(37deg, 97%, 70%), hsl(329deg, 70%, 58%));
}
.card.youtube::before {
  background-color: hsl(348deg, 97%, 39%);
}

.overview .title {
  margin-bottom: 3rem;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .overview .title {
    margin-bottom: 1.5rem;
  }
}
.overview .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5rem 1fr 2.5rem 1fr 2.5rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 1.75rem;
}
@media screen and (max-width: 992px) {
  .overview .cards {
    -ms-grid-columns: 1fr 4rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    row-gap: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .overview .cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    row-gap: 1.5rem;
  }
}
.overview .cards .card {
  padding: 2rem;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .overview .cards .card {
    padding: 1.5rem;
  }
}
.overview .cards .card .header,
.overview .cards .card .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.overview .cards .card .header {
  margin-bottom: 2.25rem;
}
@media screen and (max-width: 768px) {
  .overview .cards .card .header {
    margin-bottom: 1.25rem;
  }
}
.overview .cards .card .header > p {
  font-size: 1.125rem;
  font-weight: bold;
}
.overview .cards .card .content {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.overview .cards .card .count {
  font-size: 3rem;
  font-weight: bold;
}

body.dark {
  background-color: hsl(230deg, 17%, 14%);
  color: hsl(0deg, 0%, 100%);
}
body.dark header::before {
  background-color: hsl(232deg, 19%, 15%);
}
body.dark .card {
  background-color: hsl(228deg, 28%, 20%);
}
body.dark .card:hover {
  background-color: #2e3552;
}
/*# sourceMappingURL=app.css.map */